<nav class="navbar navbar-expand-lg" style="background-color: #1bb1dc;">
    <a class="navbar-brand" href="#">
        Welcome to BWLN | 
    </a>
    
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/languages">Languages</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container-fluid" style="background-color: #ffffff;">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 vertical-navbar p-0" [ngClass]="{ 'hide': hideVerticalNavbar }">
            <ul class="nav flex-column w-100">
                <li class="nav-item">
                    <a class="nav-link text-black" style="background-color: #e9f3ff" routerLink="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" style="background-color: #e9f3ff" routerLink="/login">Login</a>
                </li>
                <br />
                <li class="nav-item">
                    <button class="nav-link bg-secondary text-white" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8" style="background-color: #ffffff;">
            <!-- Home content goes here -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
