<div class="container">
  <h3>Welcome to {{ language.name }} as language</h3>

  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <th>Name:</th>
            <td><b>{{ language.name }}</b></td>
          </tr>
          <tr>
            <th>Countries:</th>
            <td>
              <ul class="list-unstyled">
                <li *ngFor="let country of language.countries" class="country-item">
                  <i class="fas fa-globe"></i> {{ country }}
                </li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <h4>Books that taught this language:</h4>
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of languageBooksService.books">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price | currency }}</td>
            <td>
              <div class="d-flex">
                <button class="btn btn-danger mr-2" (click)="deleteBook(book._id)">Delete</button>
                <button class="btn btn-primary" (click)="showBookUpdateForm(book._id)">Update</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="card-footer">
        <div class="pagination">
          <button class="btn btn-primary" (click)="previousPage()" [disabled]="previousDisenable">Previous</button>
          <div style="flex-grow: 1;"></div>
          <button class="btn btn-primary" (click)="nextPage()" [disabled]="nextDisenable">Next</button>
        </div>
      </div>
      <br />
      <button class="btn btn-success" (click)="showBookAddOneForm()">Add New Book</button>
    </div>
  </div>

  <br />
  <div *ngIf="showForm" class="col-md-6">
    <app-language-form></app-language-form>
  </div>
  <div *ngIf="showFormUpdate" class="col-md-6">
    <app-language-form></app-language-form>
  </div>
  
</div>
