<h4> Book Form</h4>

<div class="form">
    <br />
    <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Title</div>
            </div>
            <input type="text" id="title" placeholder="Book title" formControlName="title" class="form-control">
        </div>
        <div
            *ngIf="reactiveForm.get('name')?.invalid && (reactiveForm.get('name')?.dirty || reactiveForm.get('name')?.touched)">
            <small class="text-danger">Title is required</small>
        </div>

        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Author</div>
            </div>
            <input type="text" id="author" placeholder="Author name" formControlName="author" class="form-control">
        </div>
        <div
            *ngIf="reactiveForm.get('name')?.invalid && (reactiveForm.get('name')?.dirty || reactiveForm.get('name')?.touched)">
            <small class="text-danger">Author name is required</small>
        </div>


        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text">Price</div>
            </div>
            <input type="text" id="price" placeholder="Book price" formControlName="price"
                class="form-control">
        </div>


        <div class="form-group row">
            <div class="col-sm-6">
                <button class="btn btn-primary" id="btn" [disabled]="reactiveForm.invalid">
                    Submit
                </button>
            </div>

        </div>
    </form>
</div>