.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
}



.popup {
  position: fixed;
  top: 43%;
  left: 58%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10000;
}

.popup-content {
  display: flex;
  flex-direction: column;
}

.popup-title {
  margin-bottom: 10px;
  font-size: 18px;
}

.popup-message ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup-close {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.popup-close button {
  padding: 8px 16px;
}
